__pycache__/
.pytest_cache/
.venv/
*.egg-info/
artifacts/
input/*.toml
!input/john-doe.toml
!input/john-doe-tech.toml
!input/john-doe-cover-letter.toml
output/*
!output/.gitkeep
*.pdf
*.doc[x]
*.vs/
.claude/
